:root {
  --accent: #ffcf56;
  --accent-secondary: #f49f8d;
  --background: #fff;
  --background-accent: #ffefc6;
  --background-accent-secondary: #fee3e3;
  --background-accent-tertiary: #f3f3fe;
  --text-color: #333;
  --text-color-on-accent: #333;
  --text-color-cover: #fff;

  --font-family: 'Nunito', sans-serif;
  --font-size-regular: 16px;
  --font-size-small: 15px;
  --font-size-large: 22px;
  --font-size-title: 32px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --underline-width: 2px;
  --border-radius: 8px;
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-top: 0px -1px 3px 0px rgba(0, 0, 0, 0.3);

  --motion-movement-speed: 0.25s;
  --motion-movement-function: ease-in-out;
  --motion-fade-speed: 0.35s;
  --motion-fade-function: ease-out;
}

@media only screen and (min-width: 790px) {
  :root {
    --font-size-small: 16px;
    --font-size-regular: 18px;
    --font-size-title: 42px;
    --font-size-large: 26px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #ffcf56;
    --accent-secondary: #f49f8d;
    --background: #333;
    --background-accent: #625a37;
    --background-accent-secondary: #633f3f;
    --background-accent-tertiary: #53535a;
    --text-color: #eee;
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
}

h1 {
  font-size: var(--font-size-title);
  margin: 0;
}

h2,
h3 {
  font-size: var(--font-size-large);
  margin: 0;
}

p {
  line-height: 1.45;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--background-accent-tertiary);
}

figure {
  margin: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  height: 3rem;
  align-items: center;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background);
}

.left-side {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.house {
  margin-left: 0.5rem;
  display: none;
}

.nav {
  display: flex;
}

.nav > li:not(:last-child) {
  margin-right: 0.7rem;
}

.nav > li:first-child {
  display: none;
}

.nav-item a {
  transition: border-bottom-color var(--motion-fade-speed) var(--motion-fade-function);
  border-top: var(--underline-width) solid transparent;
  border-bottom: var(--underline-width) solid transparent;
  outline: none;
}

.nav-item a:hover,
.nav-item a:focus {
  border-bottom-color: var(--accent-secondary);
}

.nav-item-active a {
  border-bottom-color: var(--accent);
}

@media only screen and (min-width: 390px) {
  .nav > li:not(:last-child) {
    margin-right: 1rem;
  }

  .nav > li:first-child {
    display: inline;
  }
}

@media only screen and (min-width: 790px) {
  .header {
    padding: 0 1.5rem;
  }

  .house {
    display: inline;
  }
}

/* Main */

.main {
  min-height: calc(100vh - 3rem - 52px);
  overflow: auto;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;

  box-shadow: var(--box-shadow-top);
  font-size: var(--font-size-small);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.footer .about-us {
  display: none;
}

@media only screen and (min-width: 790px) {
  .footer {
    padding: 0.5rem 1.5rem;
  }

  .footer .about-us {
    display: inline;
  }
}

/* cover image */

.cover-image {
  background-image: url('/img/home-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 96px);
  position: relative;
}

.cover-overlay {
  position: absolute;
  height: calc(100vh - 96px);
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--text-color-cover);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 790px) {
  .cover-image,
  .cover-overlay {
    height: 60vh;
  }
}

.cover-band {
  height: 3rem;
  width: 100%;
  background-color: var(--background-accent-tertiary);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-small);
}

.cover-band-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 790px) {
  .cover-band-content {
    width: 750px;
  }
}

/* Itineraries */

.itinerary-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-small);
}

.itinerary-summary > *:not(:last-child) {
  margin-bottom: 1rem;
}

.itinerary-summary h2 {
  margin: 0 0 0.5rem 0;
}

.highlights-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 1.25rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background-accent);
}

.highlights-card ul {
  margin-left: 1rem;
  list-style-type: circle;
}

.summary-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 1.25rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background-accent-tertiary);
}

@media only screen and (min-width: 630px) {
  .itinerary-summary {
    flex-direction: row;
  }

  .itinerary-summary > *:not(:last-child) {
    margin-bottom: 0;
  }

  .summary-card,
  .highlights-card {
    width: 49%;
  }
}

/* Posts */

.postlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 630px) {
  .postlist {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 960px) {
  .postlist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.postcard {
  height: 480px;
  max-width: 400px;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .postcard {
    border: 1px solid #666;
  }
}

.postcard .post-image-link {
  height: 200px;
  display: block;
  overflow: hidden;
}

.postcard .post-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform var(--motion-movement-speed) var(--motion-fade-function);
  transform: scale(1);
}

.postcard .post-image:hover {
  transform: scale(1.05);
}

.postcard .post-content {
  padding: 1rem;
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postcard .post-title {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard .post-text {
  height: 4.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postcard .post-cta {
  padding: 0.6rem 1.2rem;
}

.article-footnote {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
}

.article-footnote > .link:first-child {
  display: none;
}

@media only screen and (min-width: 390px) {
  .article-footnote {
    justify-content: space-between;
  }

  .article-footnote > .link:first-child {
    display: block;
  }
}

/* Spacing */

.wide-content {
  max-width: 1200px;
  margin: auto 1rem;
}

.text-content {
  max-width: 750px;
  margin: auto 1rem;
}

.markdown-content img {
  max-width: 100%;
  display: block;
  margin: 1rem auto 0.5rem auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.markdown-content figcaption {
  font-size: var(--font-size-small);
  text-align: center;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin: 2rem 0 1rem 0;
}

.markdown-content p {
  margin: 1rem 0;
}

.markdown-content ul {
  list-style-type: circle;
  margin-left: 1.5rem;
  margin-top: -1rem;
}

.markdown-content br {
  display: none;
}

.markdown-content a {
  transition: border-bottom-color var(--motion-fade-speed) var(--motion-fade-function);
  outline: none;
  border-bottom: var(--underline-width) solid var(--accent);
}

.markdown-content a:hover,
.markdown-content a:focus {
  border-bottom-color: var(--accent-secondary);
}

.spacer-vertical-5 {
  width: 100%;
  margin-top: 3.5rem;
}

.spacer-vertical-3 {
  width: 100%;
  margin-top: 2rem;
}

.spacer-vertical-1 {
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (min-width: 480px) {
  .text-content {
    margin: auto 2rem;
  }

  .markdown-content img {
    max-width: 95%;
  }
}

@media only screen and (min-width: 790px) {
  .markdown-content img {
    max-width: 90%;
  }

  .text-content {
    margin: auto;
  }

  .spacer-vertical-5 {
    margin-top: 5rem;
  }

  .spacer-vertical-3 {
    margin-top: 3rem;
  }

  .wide-content {
    margin: auto 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .wide-content {
    margin: auto;
  }
}

/* Styling */

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-title {
  font-size: var(--font-size-title);
}

.text-large {
  font-size: var(--font-size-large);
}

.link,
.toc a {
  border-bottom: var(--underline-width) solid transparent;
  transition: border-bottom-color var(--motion-fade-speed) var(--motion-fade-function);
  outline: none;
}

.link.accent {
  border-bottom-color: var(--accent);
}

.toc li {
  margin-top: 0.25rem;
}

.toc .direct-link {
  display: none;
}

.link:hover,
.toc a:hover,
.link:focus,
.toc a:focus {
  border-color: var(--accent-secondary);
}

.link-button {
  color: var(--text-color-on-accent);
  padding: 0.25rem 0.5rem;
  background-color: var(--accent);
  border-radius: var(--border-radius);
  transition: all var(--motion-fade-speed) var(--motion-fade-function);
  outline: none;
}

.link-button:hover,
.link-button:focus {
  background-color: var(--accent-secondary);
  border-radius: 0;
}

.tag-cloud {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-size: var(--font-size-small);
}

.tag-cloud li {
  margin: 0.1rem;
  display: inline-flex;
}

.tag-list {
  font-size: var(--font-size-small);
}

.info {
  font-size: var(--font-size-small);
  margin: 1rem 0;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

.info span {
  flex: 1;
}

.info:before {
  content: ' ';
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.info.tip {
  background-color: var(--background-accent-tertiary);
}

.info.tip:before {
  background: url('/img/icons/pin.svg') center no-repeat;
}

@media (prefers-color-scheme: dark) {
  .info.tip:before {
    background: url('/img/icons/pin-dark.svg') center no-repeat;
  }
}

.info.warning {
  background-color: var(--background-accent-secondary);
}

.info.warning:before {
  background: url('/img/icons/warning.svg') center no-repeat;
}

@media (prefers-color-scheme: dark) {
  .info.warning:before {
    background: url('/img/icons/warning-dark.svg') center no-repeat;
  }
}

@media only screen and (min-width: 390px) {
  .info {
    padding: 1rem;
  }

  .info:before {
    margin-right: 1rem;
  }
}

/* About page */

.about-images {
  display: flex;
}

.about-images img {
  width: 47.5%;
  display: block;
}

.about-images img:first-child {
  margin-right: 1rem;
}
