:root {
  --font-family: "Nunito", sans-serif;
  --font-size-small: 15px;
  --font-size-regular: 16px;
  --font-size-large: 19px;
  --font-size-xlarge: 24px;
  --font-size-title: 36px;
  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  --line-height: 1.6;
  --underline-width: 2px;
  --border-radius: 8px;
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-top: 0px -1px 3px 0px rgba(0, 0, 0, 0.3);

  --motion-movement-speed: 0.1s;
  --motion-movement-function: ease-out;
  --motion-fade-speed: 0.2s;
  --motion-fade-function: ease-out;

  --accent: #ffc946;
  --accent-secondary: #ff9f8c;
  --neutral: #dddded;
  --background: #fffffe;
  --background-accent: #ffc946;
  --background-accent-secondary: #ff9f8c;
  --text-color: #2a2a2a;
  --text-color-on-accent: #0f0e17;
  --text-color-cover: #fffffe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #ef9900;
    --accent-secondary: #e54670;
    --background-accent: #af5900;
    --background-accent-secondary: #b51640;
    --background: #0f0e17;
    --text-color: #fffffe;
  }
}

@media only screen and (min-width: 790px) {
  :root {
    --font-size-small: 16px;
    --font-size-regular: 18px;
    --font-size-large: 22px;
    --font-size-xlarge: 27px;
    --font-size-title: 42px;
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
}

@media screen and (min-resolution: 2dppx) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bolder);
  margin: 0;
}

h2 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  line-height: var(--line-height);
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid var(--neutral);
}

[data-theme="dark"] hr {
  border: 1px solid var(--accent);
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  z-index: -999;
  overflow: hidden;
}

.skip-link:focus {
  background-color: var(--background);
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  padding: 0.75rem 1.25rem;
  z-index: 999;
  overflow: auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  height: 3.5rem;
  align-items: center;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--background);
}

[data-theme="dark"] .header {
  font-weight: var(--font-weight-bold);
  border-bottom: 1px solid var(--text-color);
  box-shadow: none;
}

.left-side {
  display: flex;
  align-items: center;
}

.theme-button {
  appearance: none;
  border: none;
  background: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer;
}

.theme-overlay {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translateX(-2rem);
  transition: transform var(--motion-movement-speed)
    var(--motion-movement-function);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: var(--accent);
}

.theme-overlay .icon {
  width: 1rem;
  height: 1rem;
}

.theme-overlay .sun {
  display: none;
}

.theme-overlay .moon {
  display: block;
}

[data-theme="dark"] .theme-overlay .sun {
  display: block;
}

[data-theme="dark"] .theme-overlay .moon {
  display: none;
}

.theme-button:focus .theme-overlay {
  transform: translateX(0);
}

.theme-button:hover .theme-overlay {
  transform: translateX(0);
}

.house {
  margin-left: 1rem;
  display: none;
  border-top: var(--underline-width) solid transparent;
  border-bottom: var(--underline-width) solid transparent;
  transition: border var(--motion-fade-speed) var(--motion-fade-function);
}

.house:hover,
.house:focus {
  border-bottom: var(--underline-width) solid var(--accent-secondary);
}

.nav {
  display: flex;
}

.nav > li:not(:last-child) {
  margin-right: 0.7rem;
}

.nav > li:first-child {
  display: none;
}

.nav-item a {
  transition: border-bottom-color var(--motion-fade-speed)
    var(--motion-fade-function);
  border-top: var(--underline-width) solid transparent;
  border-bottom: var(--underline-width) solid transparent;
  outline: none;
}

.nav-item a:hover,
.nav-item a:focus {
  border-bottom-color: var(--accent-secondary);
}

.nav-item-active a {
  border-bottom-color: var(--accent);
}

@media only screen and (min-width: 390px) {
  .nav > li:not(:last-child) {
    margin-right: 0.5rem;
  }

  .nav > li:first-child {
    display: inline;
  }
}

@media (min-width: 510px) {
  .house {
    display: inline;
  }
}

@media only screen and (min-width: 790px) {
  .header {
    padding: 0 2rem;
  }

  .nav > li:not(:last-child) {
    margin-right: 2rem;
  }
}

/* Main */

.main {
  min-height: calc(100vh - 6.5rem);
  overflow: auto;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: var(--box-shadow-top);
  font-size: var(--font-size-small);
  padding: 0 1rem;
  margin-top: 0.5rem;
  height: 3rem;
}

[data-theme="dark"] .footer {
  font-weight: var(--font-weight-bold);
  border-top: 1px solid var(--text-color);
  box-shadow: none;
}

.footer .about-us {
  display: none;
}

@media only screen and (min-width: 790px) {
  .footer {
    padding: 0.5rem 1.5rem;
  }

  .footer .about-us {
    display: inline;
  }
}

.social {
  display: flex;
}

.social * + * {
  margin-left: 1rem;
}

.social svg {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--text-color);
  transition: fill var(--motion-fade-speed) var(--motion-fade-function);
}

.social svg:hover {
  fill: var(--accent-secondary);
}

/* cover image */

.cover-wrapper {
  position: relative;
  overflow: hidden;
}

.cover-image {
  background-image: url("/img/home-cover-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 6.5rem);
}

@media only screen and (min-width: 790px) {
  .cover-image {
    background-image: url("/img/home-cover.jpg");
  }
}

.cover-overlay {
  position: absolute;
  top: 0;
  height: calc(100vh - 6.5rem);
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--text-color-cover);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 790px) {
  .cover-image,
  .cover-overlay {
    height: 60vh;
    min-height: 500px;
  }
}

.cover-band {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: var(--neutral);
  font-size: var(--font-size-small);
  height: 3rem;
}

[data-theme="dark"] .cover-band {
  background-color: var(--background-accent);
  font-weight: var(--font-weight-bold);
  box-shadow: none;
}

.cover-band-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 790px) {
  .cover-band-content {
    width: 750px;
  }
}

.cover-band-content .link {
  border-top: none;
}

.cover-band-content .link:hover {
  border-bottom: var(--underline-width) solid var(--text-color);
}

/* Cards */

.itinerary-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.75rem 1.25rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-small);
}

.card.checklist {
  background-color: var(--background-accent);
}

.card.highlights {
  background-color: var(--background-accent);
  margin-bottom: 1rem;
}

.card.summary {
  background-color: var(--background-accent-secondary);
}

.card ul {
  margin-left: 1rem;
  list-style-type: circle;
}

.card h2 {
  font-size: var(--font-size-large);
  margin: 0 0 0.5rem 0;
}

@media only screen and (min-width: 630px) {
  .itinerary-summary {
    flex-direction: row;
  }

  .card.highlights {
    margin-bottom: 0;
  }

  .card.summary,
  .card.highlights {
    width: 49%;
  }
}

/* Posts */

.postlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 630px) {
  .postlist {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 960px) {
  .postlist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.postcard {
  display: block;
  height: 480px;
  max-width: 400px;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

[data-theme="dark"] .postcard {
  border: 1px solid var(--accent);
  transition: all var(--motion-fade-speed) var(--motion-fade-function);
  box-shadow: none;
}

[data-theme="dark"] .postcard:hover {
  border-color: var(--accent-secondary);
}

.postcard .post-image-wrapper {
  height: 200px;
  display: block;
  overflow: hidden;
}

.postcard .post-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.15s var(--motion-fade-function);
  transform: scale(1);
  filter: grayscale(0);
}

.postcard:hover .post-image {
  transform: scale(1.02);
  filter: grayscale(1);
}

.postcard .post-content {
  padding: 1rem;
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postcard .post-title {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard .post-text {
  height: 4.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postcard .post-cta {
  background-color: var(--accent);
  color: var(--text-color-on-accent);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  transition: all var(--motion-fade-speed) var(--motion-fade-function);
  padding: 0.6rem 1.2rem;
}

.postcard:hover .post-cta {
  background-color: var(--accent-secondary);
  border-radius: var(--border-radius) 0;
}

.article-footnote {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
}

.article-footnote > .link:first-child {
  display: none;
}

@media only screen and (min-width: 390px) {
  .article-footnote {
    justify-content: space-between;
  }

  .article-footnote > .link:first-child {
    display: block;
  }
}

/* Spacing */

.wide-content {
  max-width: 1200px;
  margin: auto 1rem;
}

.text-content {
  max-width: 750px;
  margin: auto 1rem;
}

.markdown-content img,
.markdown-content video {
  max-width: 100%;
  display: block;
  margin: 1rem auto 0.5rem auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.markdown-content figcaption {
  font-size: var(--font-size-small);
  text-align: center;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
  /*
   * Padding hack for correct scroll padding on headings. In some browsers
   * scroll-margin is not supported outside scroll-snap containers. Though
   * the spec has been updated, browsers haven't implented the new spec
   * update yet.
   * 
   * Reference: https://stackoverflow.com/questions/58824570/css-scroll-padding-top-not-working-in-safari
   */
  margin: -2rem 0 1rem;
  padding: 4rem 0 0;
  font-weight: var(--font-weight-bolder);
}

@supports (scroll-margin: 4rem) {
  .markdown-content h1,
  .markdown-content h2,
  .markdown-content h3,
  .markdown-content h4 {
    margin: 2rem 0 1rem;
    padding: 0;
    scroll-margin: 4rem;
  }
}

.markdown-content p {
  margin: 1rem 0;
}

.markdown-content ul {
  list-style-type: circle;
  margin-left: 1.5rem;
  margin-top: -1rem;
  line-height: var(--line-height);
}

.markdown-content ol {
  line-height: var(--line-height);
}

.markdown-content br {
  display: none;
}

.markdown-content a {
  transition: border-bottom-color var(--motion-fade-speed)
    var(--motion-fade-function);
  outline: none;
  border-bottom: var(--underline-width) solid var(--accent);
}

.markdown-content a:hover,
.markdown-content a:focus {
  border-bottom-color: var(--accent-secondary);
}

.markdown-content table {
  width: 100%;
  border: var(--underline-width) solid var(--accent);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-small);
}

.markdown-content thead {
  text-align: left;
}

.markdown-content th {
  padding: 0.25rem 0 0.25rem 1rem;
}

.markdown-content td {
  padding: 0.2rem 0 0.2rem 1rem;
}

.markdown-content tr:first-child td {
  padding-top: 0.35rem;
  border-top: var(--underline-width) dashed var(--accent);
}

.markdown-content tr:not(:last-child) td {
  border-bottom: var(--underline-width) dashed var(--accent);
}

.markdown-content tr:last-child td {
  padding-bottom: 0.25rem;
}

.spacer-vertical-5 {
  width: 100%;
  margin-top: 3.5rem;
}

.spacer-vertical-3 {
  width: 100%;
  margin-top: 2rem;
}

.spacer-vertical-2 {
  width: 100%;
  margin-top: 1.5rem;
}

.spacer-vertical-1 {
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (min-width: 480px) {
  .text-content {
    margin: auto 2rem;
  }
}

@media only screen and (min-width: 790px) {
  .text-content {
    margin: auto;
  }

  .spacer-vertical-5 {
    margin-top: 5rem;
  }

  .spacer-vertical-3 {
    margin-top: 3rem;
  }

  .spacer-vertical-2 {
    margin-top: 2rem;
  }

  .wide-content {
    margin: auto 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .wide-content {
    margin: auto;
  }
}

/* Styling */

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-small {
  font-size: var(--font-size-small);
}

.text-title {
  font-size: var(--font-size-title);
}

.link,
.toc a {
  border-top: var(--underline-width) solid transparent;
  border-bottom: var(--underline-width) solid transparent;
  transition: border-bottom-color var(--motion-fade-speed)
    var(--motion-fade-function);
  outline: none;
}

.link.accent {
  border-bottom-color: var(--accent);
}

.toc > ol {
  margin-top: -0.75rem;
  line-height: var(--line-height);
}

.toc li {
  margin-top: 0.25rem;
}

.toc .direct-link {
  display: none;
}

.link:hover,
.toc a:hover,
.link:focus,
.toc a:focus {
  border-bottom-color: var(--accent-secondary);
}

.link-button {
  color: var(--text-color-on-accent);
  padding: 0.25rem 0.5rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--accent);
  border-radius: var(--border-radius);
  transition: all var(--motion-fade-speed) var(--motion-fade-function);
  outline: none;
}

.link-button:hover,
.link-button:focus {
  background-color: var(--accent-secondary);
  border-radius: var(--border-radius) 0;
}

.tag-cloud {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-size: var(--font-size-small);
}

.tag-cloud li {
  margin: 0.1rem;
  display: inline-flex;
}

.tag-cloud .link-button {
  font-weight: var(--font-weight-regular);
}

.info {
  font-size: var(--font-size-small);
  margin: 1rem 0;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}

.info span {
  flex: 1;
}

.info:before {
  content: " ";
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.info.tip {
  background-color: var(--background-accent);
}

.info.tip:before {
  background: url("/img/icons/pin.svg") center no-repeat;
}

[data-theme="dark"] .info.tip:before {
  background: url("/img/icons/pin-dark.svg") center no-repeat;
}

.info.warning {
  background-color: var(--background-accent-secondary);
}

.info.warning:before {
  background: url("/img/icons/warning.svg") center no-repeat;
}

[data-theme="dark"] .info.warning:before {
  background: url("/img/icons/warning-dark.svg") center no-repeat;
}

@media only screen and (min-width: 390px) {
  .info {
    padding: 1rem;
  }

  .info:before {
    margin-right: 1rem;
  }
}

/* About page */

.about-images {
  display: flex;
}

.about-images img {
  width: 47.5%;
  display: block;
}

.about-images img:first-child {
  margin-right: 1rem;
}

.track-details {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem 0;
  margin-top: 2rem;
  border-radius: var(--border-radius);
  background: #ffefbc;
  box-shadow: var(--box-shadow);
}

.track-details > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-details > div > span:last-child {
  font-weight: var(--font-weight-bold);
}

.track-details .paths-icons {
  display: flex;
}

.track-details .paths-icons > * + * {
  margin-left: 0.5rem;
}

.track-details svg {
  width: 24px;
  height: 24px;
  display: block;
}
