<ul class="postlist">
  {% for post in postslist | reverse %}
    <li class="postlist-item">
      <a class="postcard" href="{{post.url | url}}" title="{{post.data.pageTitle}}">
        <div class="post-image-wrapper">
          <div class="post-image" style="background-image: url('{{ post.data.coverThumb | fullImageURL }}')"></div>
        </div>
        <div class="post-content">
          <div class="post-title">
            <h2>{{ post.data.pageTitle }}</h2>
          </div>
          <p class="post-text">{{ post.data.headline }}</p>
          <span class="post-cta" title="{{post.data.pageTitle}}">Explore</span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>