<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if pageTitle or renderData.pageTitle %}
      {% set titleFromPage = (pageTitle or renderData.pageTitle) + " | " + metadata.title %}
    {% endif %}
    <title>{{ titleFromPage or metadata.title }}</title>
    <meta name="description" content="{{ subTitle or metadata.description }}">
    {% if coverImage %}
      {% set coverImageURL = "https://housemoldovan.com" + coverImage %}
    {% endif %}
    
    <meta property="og:title" content="{{ pageTitle or renderData.pageTitle or metadata.title }}">
    <meta property="og:description" content="{{ subTitle or metadata.description }}">
    <meta property="og:image" content="{{ coverImageURL or metadata.image }}">
    <meta property="og:url" content="https://housemoldovan.com">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <style>
      {% postcss %}
        {% include "css/index.css" %}
      {% endpostcss %}
    </style>
  </head>
  <body>
    <header class="header">
      <a class="left-side" href="{{ '/' | url }}">
        <img class="logo" src="/img/logo.jpg" alt="House Moldovan" />
        <span class="nav-item house">
          {{ metadata.title }}
        </span>
      </a>

      <nav>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="footer">
      <span>© 2020 House Moldovan</span>
      <a href="/about" class="link accent about-us">About us</a>
      <ul class="social-media">
        <a target="_blank" href="https://www.instagram.com/housemoldovan/" class="link accent">Follow us on Instagram</a>
      </ul> 
    </footer>
  </body>
</html>
