---
layout: layouts/post.njk
permalink: /travel/{{pageTitle | slug}}/
---

<div class="text-content">

  <div class="spacer-vertical-1"></div>

  <p>{{headline}}</p>
  
  <div class="spacer-vertical-3"></div>

  <div class="itinerary-summary">
    <div class="highlights-card">
      <h2>Highlights</h2>
      <ul>
        {% for highlight in itinerary.highlights %}
          <li>{{highlight}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="summary-card">
      <h2>Itinerary</h2>
      <span>Number of Days: <strong>{{itinerary.summary.days}}</strong></span>
      <span>Best period: <strong>{{itinerary.summary.period}}</strong></span>
      <span>Travel method: <strong>{{itinerary.summary.method}}</strong></span>
      <span>Budget: <strong>{{itinerary.summary.budget}}</strong></span>
    </div>
  </div>

  <div class="spacer-vertical-3"></div>

  <article class="markdown-content">
    {{ content | safe }}
  </article>
</div>


