---
layout: layouts/base.njk
---
<div class="cover-image" style="background-image: url('{{coverImage}}')">
  <div class="cover-overlay">
    <div>
      <h1>{{pageTitle}}</h1>
      <div class="spacer-vertical-1"></div>
      <p>{{subTitle}}</p>
      <div class="spacer-vertical-3"></div>
      {% include "components/tagcloud.njk" %}
    </div>
  </div>
</div>
<div class="cover-band">
  <div class="text-content">
    <div class="cover-band-content">
      <a class="link" target="_blank" title="location: {{region}}" href="{{mapsLink}}">{{region}}</a>
      <span>{{ content | readingTime }} read</span>
    </div>
  </div>
</div>

{{ content | safe }}

<div class="text-content">
  <hr/>

  <p class="article-footnote">
    <a class="link accent" href="{{ '/' | url }}">← Home</a>
    <span>
      Share this story on
      <a href="https://twitter.com/share?text={{ pageTitle | url }}&url=https://house-moldovan.com{{ page.url | url }}" target="_blank" class="link accent">Twitter</a>
      or 
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://house-moldovan.com{{ page.url | url }}" target="_blank" class="link accent" >Facebook</a>
    </span>
  </p>
</div>

<div class="spacer-vertical-5"></div>

<div class="wide-content text-center">
  <h2>You might also enjoy</h2>
  <div class="spacer-vertical-3"></div>

  {% set postslist = collections.spotlights | head(-3) %}
  {% include "components/postslist.njk" %}
</div>

<div class="spacer-vertical-5"></div>

