---
layout: layouts/post.njk
permalink: /romania/{{pageTitle | slug}}/
suggestion: 'romania'
---

<div class="text-content markdown-content">
  <p>{{headline}}</p>
  <article>
    {{ content | safe }}
  </article>
</div>

