---
layout: layouts/post.njk
permalink: /travel/{{pageTitle | slug}}/
---

<div class="text-content markdown-content">
  <p>{{headline}}</p>

  <p>This article covers:</p>
  {{ content | toc | safe }}
  
  <article>
    {{ content | safe }}
  </article>
</div>


