---
layout: layouts/base.njk
title: About Us
eleventyNavigation:
  key: About Us
  order: 4
---

<div class="text-content">
  <h1>About House Moldovan</h1>
  <p>Hi there fellow travellers! We're Mela and Alex aka "House Moldovan" - no affiliation with the country of Moldova, although we do live close to it, in beatiful 🇷🇴Romania.</p>
  <p>We like to travel around the world and share our experiences. If you find something interesting through the pages of this travel blog, mention us on social media and we would be forever grateful!
</div>