---
layout: layouts/base.njk
pageTitle: About Us
eleventyNavigation:
  key: About Us
  order: 4
---

<div class="text-content markdown-content">
  <h1>About House Moldovan</h1>
  <p>Hi there fellow travelers! We're Mela and Alex aka "House Moldovan" - no affiliation with the country of Moldova, although we do live close to it, in beautiful 🇷🇴Romania.</p>
  <p>We like to travel around the world and share our experiences. If you find something interesting through the pages of this travel blog, mention us on social media and we would be forever grateful!
  <p>Follow us on: 
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/housemoldovan/" title="Instagram page" class="link accent">Instagram</a>,
    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com//housemoldovan/" title="Facebook page" class="link accent">Facebook</a> and
    <a target="_blank" rel="noopener noreferrer" href="https://pinterest.com/housemoldovan/" title="Pinterest page" class="link accent">Pinterest</a>.
  </p>
  <div class="about-images">
    <img alt="Mela Moldovan" src="/img/about/mela.jpg">
    <img alt="Alex Moldovan" src="/img/about/alex.jpg">
  </div>
  <img alt="Petra viewpoint with two pairs of shoes in the foreground" src="/img/about/petra.jpg">
</div>
