---
layout: layouts/base.njk
permalink: /itineraries/
eleventyNavigation:
  key: Itineraries
  order: 2
---

<div class="wide-content">
  <div class="spacer-vertical-1"></div>
  <h1>{{collections.itineraries.length}} Itineraries</h1>
  <div class="spacer-vertical-1"></div>

  {% set postslist = collections.itineraries %}
  {% include "components/postslist.njk" %}

</div>