---
layout: layouts/base.njk
permalink: /spotlights/
pageTitle: Spotlights
eleventyNavigation:
  key: Spotlights
  order: 3
---

<div class="wide-content">

  <div class="spacer-vertical-1"></div>
  <h1>{{collections.spotlights.length}} Spotlights</h1>
  <div class="spacer-vertical-1"></div>

  {% set postslist = collections.spotlights %}
  {% include "components/postslist.njk" %}

</div>