---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
renderData:
  title: Explore “{{ tag }}”
permalink: /explore/{{ tag | slug }}/
---

<div class="wide-content">
  <h1>Explore <span class="text-capitalize">{{ tag }}</span></h1>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <div class="spacer-vertical-3"></div>

  <p class="text-center"><a class="link-button" href="{{ '/explore/' | url }}">See all categories</a></p>

  <div class="spacer-vertical-3"></div>
</div>
